<% if @user.errors.any? %>
  <div class="transition duration-300 ease-in-out bg-red-200 border border-red-600 shadow-2xl hover:transition-shadow hover:shadow-none rounded">
    <ul class="text-black p-3 list-inside list-disc">
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
